.Home{
    input{
    margin: 1rem;
    }
    h2{
        margin: 0;
        padding-left: 1rem;
    }
    .item{
        margin-bottom: .5rem;
        a{
            color: black;
            text-decoration: none;
            
            &:hover{
                color: rgb(102, 156, 48);
            }
            span{
                margin-right: .5rem;
            }
        }
        button{
            margin-right: .5rem;
        }
        .btn{
            background-color: rgb(226, 226, 226);
        }
        .activeBtn{
            background-color: rgb(238, 14, 14);
        }
    }
    
}
a{
    margin-left: 1rem;
}

//

.likedBlock{
    display: flex;
    flex-direction: column;
    a{
        color: black;
        text-decoration: none;
        &:hover{
            color: rgb(102, 156, 48);
        }
    }
}